p.ex1 {
    margin: 10%;
}
p.ex2 {
    margin: 20%;
}
p.ex3 {
    margin: 30%;
}
p.ex4 {
    margin: 50%;
}
p.ex5 {
    margin: 60%;
}
p.ex6 {
    margin: 70%;
}
p.ex7 {
    margin: 80%;
}
p.ex8 {
    margin: 90%;
}
section.sec1 {
    background-color: #437C90;
}
section.sec2 {
    background-color: #255957;
}
section.sec3 {
    background-color: #EEEBD3;
}
section.sec4 {
    background-color: #A98743;
}
section.sec5 {
    background-color: #F7C548;
}
section.sec6 {
    background-color: #7B5E7B;
}
section.sec7 {
    background-color: #B9F18C;
}
section.sec8 {
    background-color: #437C90;
}