p.p1 {
    border: 2px solid black;
    padding: 10%;
}
p.p2 {
    border: 2px solid black;
    padding: 20%;
}
p.p3 {
    border: 2px solid black;
    padding: 30%;
}
p.p4 {
    border: 2px solid black;
    padding: 50%;
}
p.p5 {
    border: 2px solid black;
    padding: 60%;
}
p.p6 {
    border: 2px solid black;
    padding: 70%;
}
p.p7 {
    border: 2px solid black;
    padding: 80%;
}
p.p8 {
    border: 2px solid black;
    padding: 90%;
}
section.sec1 {
    background-color: #437C90;
}
section.sec2 {
    background-color: #255957;
}
section.sec3 {
    background-color: #EEEBD3;
}
section.sec4 {
    background-color: #A98743;
}
section.sec5 {
    background-color: #F7C548;
}
section.sec6 {
    background-color: #7B5E7B;
}
section.sec7 {
    background-color: #B9F18C;
}
section.sec8 {
    background-color: #437C90;
}